<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Clone Api</title>
    <!-- Tema PrismJS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css">
</head>
<body>
    <div class="readme-content">
        <div class="content">
            <!-- Renderiza o conteúdo Markdown convertido -->
            {{ content|safe }}
        </div>
    </div>

    <!-- PrismJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script> 
</body>
</html>
